{% extends "base.html" %}
{% load static %}
{% block body %}


<section>
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="section-title">
 
          </h2>
        </div>
      </div>


      <section class="page-header section-sm">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-10">
              <div class="row g-4 g-lg-5 text-center text-lg-start justify-content-center justify-content-lg-start">
                <div class="col-lg-3 col-md-4 col-sm-5 col-6">
                  <img class="img-fluid rounded" src="{{user.userphoto.url}}" alt="Thomas Macaulay" width="250" height="250">
                </div>
                <div class="col-lg-9 col-md-12">
              
                  <p class="mb-2"><span class="fw-bold text-black">{{post_numbers}}</span> Published posts</p>  
              
                  <h1 class="h3 text-dark mb-3">{{user.username}}</h1>
         
                  <div class="content">
                    <p>{{user.description}}</p>
                    <p>Follow him <a target="_blank" href="https://twitter.com/thomas-macaulay">on Twitter</a>.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>





{% for p in posts %}

{% comment %} <div class="col-lg-9 col-md-12">
  {% comment %} <p class="mb-2"><span class="fw-bold text-black">03</span> Published posts</p> {% endcomment %}
    {% comment %} 
  <h1 class="h3 text-dark mb-3">{{p.author}}</h1>
  <div class="content">
    <p>{{p.description}}</p>
    <p>Follow him <a target="_blank" href="https://twitter.com/thomas-macaulay">on Twitter</a>.</p>
  </div> {% endcomment %}


      <div class="container">
  <div class="row gy-5 gx-4 g-xl-5">
    <div class="col-lg-6">
      <article class="card post-card h-100 border-0 bg-transparent">
        <div class="card-body">
          <a class="d-block" href="#" title="The AGI hype train is running out of steam">
            <div class="post-image position-relative">
              <img class="w-100 h-auto rounded" src="{{p.photo.url}}" alt="Post Image" width="970" height="500">
            </div>
          </a>
       
          <a class="d-block" href="#"
            title="The AGI hype train is running out of steam">
            <h3 class="mb-3 post-title">
              {{p.title}}
            </h3>
          </a>
          <p>{{p.content}}</p>
        </div>
        <div class="card-footer border-top-0 bg-transparent p-0">
          <ul class="card-meta list-inline">
            <li class="list-inline-item mt-2">
              <a href="#" class="card-meta-author" title="Read all posts by - Thomas Macaulay">
                <img class="w-auto" src="{{p.autphoto.url }}" alt="Author Image" width="26" height="26"> by <span>{{p.author}}</span>
              </a>

    </section>
    <br>
{% endfor %}
{% endblock body %}