{% extends "base.html" %}
{% load static %}
{% block body %}

<img src="{{p.photo.url}}" alt="" class="card-img-top"  style="width:800px;height:500px;"> <br> 
           {{ p.date }}<br>
           {{ p.title }}<br>
          {{ p.content }}<br>
        by   {{ p.author}}<br>
        <hr>
   
{% endblock body %}