{% extends "base.html" %}
{% load static %}
{% block body %}

<section class="page-header section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="section-title h2 mb-3">
          <span>Author</span>
        </h1>
        <ul class="list-inline breadcrumb-menu mb-3">
          <li class="list-inline-item"><a href="{% url 'index3' %}"><i class="ti ti-home"></i>  <span>Home</span></a></li>
          <li class="list-inline-item">• &nbsp; <a href="author.html"><span>Author</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>




      <section class="section-sm pt-0 mt-3">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 mx-auto">
              <div class="row gx-4 gy-5 gx-md-5 justify-content-center text-center">
         
   

                {% comment %} {% for s in data %}

                <div class="col-md-4 col-sm-6">
                  <a class="d-inline-block is-hoverable" href="#">
                    <a href ="{% url 'authordetailview' s.id %}"> <img class="img-fluid rounded" src="{{s.autphoto.url}}" alt="Chris Impey" width="150" height="150"> </a>
                    <h4 class="text-dark mt-4 mb-1">{{s.author}}</h4>
                    {% comment %} <p class="mb-0"><span class="fw-bold text-black">Post No.</span> {{ forloop.counter }}</p> {% endcomment %}
       
                    {% comment %}
                  </a>
                </div>
                {% endfor %}  {% endcomment %}
            

                {% for user in users %}
                
                 <div class="col-md-4 col-sm-6">
                   <a class="d-inline-block is-hoverable" href="#">
                     <a href ="{% url 'authordetailview' user.id %}"> <img class="img-fluid rounded" src="{{user.userphoto.url}}" alt="Chris Impey" width="150" height="150"> </a>
                     <h4 class="text-dark mt-4 mb-1">{{user.username}}</h4>
                     {% comment %} <p class="mb-0"><span class="fw-bold text-black">Post No.</span> {{ forloop.counter }}</p> {% endcomment %}

                   </a>
                 </div>
                 {% endfor %} 
       
{% endblock body %}