{% extends "base.html" %}
{% load static %}
{% block body %}

{% comment %} {% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}   {% endcomment %}


<section class="page-header section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="section-title h2 mb-3">
          <span>Create Post</span>
        </h1>
        <ul class="list-inline breadcrumb-menu mb-3">
          <li class="list-inline-item"><a href="{% url 'index2' %}"><i class="ti ti-home"></i>  <span>Home</span></a></li>
          <li class="list-inline-item">• &nbsp; <a href="contact.html"><span>Ceate Post</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row gy-5 justify-content-center">
      
    
      
      <div class="col-lg-5 me-lg-auto ms-lg-0 ms-auto">

              
        

        {% comment %} form {% endcomment %}

        <div class="container mb-5">
          <div class="row">
              <div class="col-sm-4">
                  <h4 class="text-center alert alert-info"> Blog</h4>
          <link rel="stylesheet" href="{% static 'css/add_blog.css' %}"/>
          
          <form action="" method = "POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{form.as_p}}
          <input type="submit" class="btn btn-danger" value="Upload">
          </form>
              </div>
               
      </div>
      
    </div>
  </div>
</section>
{% endblock body %}
