{% extends "base.html" %}
{% load static %}
{% block body %}

<section class="page-header section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="section-title h2 mb-3">
          <span>Categories</span>
        </h1>
        <ul class="list-inline breadcrumb-menu mb-3">
          <li class="list-inline-item"><a href="{% url 'index2' %}"><i class="ti ti-home"></i>  <span>Home</span></a></li>
          <li class="list-inline-item">• &nbsp; <a href="categories.html"><span>Categories</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>



 

 {% for category in category_list %}
<div class="container">
  <div class="row g-4 justify-content-center text-center">
    <div class="col-lg-4 col-sm-6">
      <a class="p-4 rounded bg-white d-block is-hoverable" href="{% url 'categories' category.id %}">
        <span class="h3"><i class="ti ti-color-swatch mb-2"></i></span>
        <span class="h4 mt-2 mb-3 d-block"> {{ category.name }} </span>
        {% comment %} Total 2 posts {% endcomment %}
      </a>
    </div>
    {% endfor %}





{% endblock body %}