{% extends "base.html" %}
{% load static %}
{% block body %}

<section class="page-header section-sm">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="section-title h2 mb-3">
            <span>Thank You for contacting us.</span>
          </h1>
          <ul class="list-inline breadcrumb-menu mb-3">
            <li class="list-inline-item"><a href="{% url 'index2' %}"><i class="ti ti-home"></i>  <span>Home</span></a></li>
            <li class="list-inline-item">• &nbsp; <a href="contact.html"><span>Contact</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

{% endblock body %}