{% extends "base.html" %}
{% load static %}
{% block body %}

<section class="section-sm pb-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <h1 class="page-not-found-title">404</h1>
          <p class="mb-4">Oops. The page you're looking for doesn't exist.</p>
          <a href="{% url 'index2' %}" class="btn btn-primary">Back to home</a>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock body %}