{% extends "base.html" %}
{% load static %}
{% block body %}

<section class="page-header section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="section-title h2 mb-3">
          <span>Tags</span>
        </h1>
        <ul class="list-inline breadcrumb-menu mb-3">
          <li class="list-inline-item"><a href="{% url 'index3' %}"><i class="ti ti-home"></i>  <span>Home</span></a></li>
          <li class="list-inline-item">• &nbsp; <a href="tags.html"><span>Tags</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

{% comment %} {% for post in data %}
{% for tag in post.tags.all %}
<div class="container">
  <div class="row g-4 justify-content-center text-center">
    <div class="col-lg-4 col-sm-6">
      <a class="p-4 rounded bg-white d-block is-hoverable" href="{% url 'tag_single' %}">
        <span class="h3"><i class="ti ti-tags mb-2"></i></span>
        <span class="h4 mt-2 mb-3 d-block"> {{tag.name}}</span>
      </a>
    </div>
    {% endfor %}
    {% endfor %}
  </div>
</div>  {% endcomment %}


{% for s in data %}

<div class="container">
  <div class="row g-4 justify-content-center text-center">
    <div class="col-lg-4 col-sm-6">
      <a class="p-4 rounded bg-white d-block is-hoverable" href="{% url 'tagsdetailview' s.id %}">
        <span class="h3"><i class="ti ti-tags mb-2"></i></span>
        <span class="h4 mt-2 mb-3 d-block"> {{s.tag}}</span>
      </a>
    </div>

    {% endfor %}
  </div>
</div> 





{% endblock body %}
